<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>채팅</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/chat/chat.css">
</head>
<body>
    <div class="chat_header">
        <p class="chat_title">익명1</p>
    </div>
    <div class="chat_body">
        <div class="chat_main_request">
            <p class="chat_request">&nbsp;&nbsp;안녕하세요</p>
        </div>
        <div class="chat_main_response">
            <p class="chat_response">&nbsp;&nbsp;안녕하세요</p>
        </div>
    </div>
    <div class="chat_footer">
        <input type="text" class="chat_input" /><button type="submit" class="chat_sub">전송</button>
    </div>
</body>
</html>