<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main/admin/n" class="logo_main">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/online-complaint/admin/n" class="top_menu">상담</a>
        <a href="/admin/logout" class="top_menu"><b style="color: #1290FF">로그아웃</b></a>
    </div>
</div>
</body>
</html>