<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>S.O.S</title>
</head>
<body>
<div class="main">
    <div class="main_title">
        <a href="/main/admin/n" class="logo_main" style="color: #1290FF">
            S<small class="main_title_small">peak</small>.O<small class="main_title_small">ut</small>.S<small
                class="main_title_small">afely</small>
        </a>
    </div>
    <div class="admin_main_menu_large">
        <a href="/online-complaint/admin/n">상담</a>
        <a href="/admin/logout" class="top_menu"><b>로그아웃</b></a>
    </div>
    <div class="admin_main_image">
        <img src="/images/main.jpeg" alt="S.O.S">
    </div>
</div>
</body>
</html>