<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/main.css">
    <title>S.O.S</title>
</head>
<body>
<div class="header">
    <div class="title_menu">
      S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small class="small_title">afely</small>
        <a href="#" class="top_menu_chat">채팅</a>
        <a href="#" class="top_menu">상담사 연결</a>
        <a href="#" class="top_menu">정보</a>
        <a href="#" class="top_menu">상담</a>
        <a href="#" class="top_menu"><b>회원가입</b></a>
  </div>
</div>
</body>
</html>