<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
    <title>S.O.S</title>
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main" class="logo_main">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/chat_loginform" class="top_menu_chat">채팅</a>
        <a href="/counseling-session" class="top_menu">상담사 연결</a>
        <a href="/information/school_violence" class="top_menu">정보</a>
        <a href="/online-complaint" class="top_menu">상담</a>
        <a href="/loginform" class="top_menu"><b style="color: #1290FF">로그인</b></a>
    </div>
</div>
<div class="c_title">
    <div class="c_title_back">
        <a href="/police-complaint">
            <img src="/images/back_arrow.svg" alt="back arrow">
        </a>
        <a href="/police-complaint">신고 목록</a>
    </div>
    <div class="c_title_menu">
        신고
    </div>
</div>
<div class="form_submit">
    <img src="/images/check.svg" alt="check">
    <h1>신고 접수가 완료되었습니다.</h1>
    <p><b style="color: black">답변 완료</b> 확인 후 입력하셨던 비밀번호로 답변을 확인하시면 됩니다.</p>
</div>
<div class="form_submit_section">
    <form action="/main" method="get">
        <button type="submit" class="form_to_main_button">메인 페이지로 가기</button>
    </form>
</div>
</body>
</html>