<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main/admin/p" class="logo_main">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="#" class="top_menu">신고</a>
        <a href="/online-complaint/admin/p" class="top_menu">상담</a>
    </div>
</div>
</body>
</html>