<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>참조사례</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/information/information.css">
    <link rel="stylesheet" href="/css/information/info_detail.css">
</head>
<body>
<div class="header">
  <div class="title_menu">
    <a href="/main" class="logo_main">
      S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
            class="small_title">afely</small>
    </a>
    <a href="/chat_loginform" class="top_menu_chat">채팅</a>
    <a href="/counseling-session" class="top_menu">상담사 연결</a>
    <a href="/information/school_violence" class="top_menu">정보</a>
    <a href="/online-complaint" class="top_menu">상담</a>
      <a href="/police-complaint" class="top_menu">신고</a>
    <a href="/loginform" class="top_menu"><b style="color: #1290FF">로그인</b></a>
  </div>
</div>
<div class="category_button">
    <button class="category3" onclick="location.href='/information/school_violence'">학교폭력</button>
    <button class="category3" onclick="location.href='/information/reference_case'">참조사례</button>
    <button class="category3_active" onclick="location.href='/information/legal_information'">법률정보</button>
    <button class="category3_1" onclick="location.href='/information/report_penalty'">신고&처벌 기준</button>
</div>
<table class="table_detail">
    <tr>
        <td class="title">제목</td>
        <td>청소년 보호법</td>
    </tr>
    <tr>
        <td class="title">작성일</td>
        <td>23/06/07</td>
    </tr>
    <tr>
        <td class="title">첨부파일</td>
        <td>청소년 보호법.hwp</td>
    </tr>
    <tr>
        <td colspan="2" width="400px">
            청소년 보호법
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </td>
    </tr>
</table>
<button class="reference_case_list" onclick="location.href='/information/legal_information'">목록으로</button>
</body>
</html>