<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>참조사례</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/information/information.css">
    <link rel="stylesheet" href="/css/information/info_detail.css">
</head>
<body>
<div class="header">
  <div class="title_menu">
    <a href="/main" class="logo_main" style="color: #1290FF">
      S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
            class="small_title">afely</small>
    </a>
    <a href="/chat-loginform" class="top_menu_chat">채팅</a>
    <a href="/counseling-session" class="top_menu">상담사 연결</a>
    <a href="/information/school-violence" class="top_menu">정보</a>
    <a href="/online-complaint" class="top_menu">상담</a>
      <a href="/police-complaint" class="top_menu">신고</a>
    <a href="/loginform" class="top_menu"><b>로그인</b></a>
  </div>
</div>
<div class="category_button">
    <button class="category3" onclick="location.href='/information/school-violence'">학교폭력</button>
    <button class="category3" onclick="location.href='/information/reference-case'">참조사례</button>
    <button class="category3_active" onclick="location.href='/information/legal-information'">법률정보</button>
    <button class="category3_1" onclick="location.href='/information/report-penalty'">신고&처벌 기준</button>
</div>
<table class="table_detail">
    <tr>
        <td class="title"><b>제목</b></td>
        <td><b>청소년 보호법</b></td>
    </tr>
    <tr>
        <td class="title"><b>작성일</b></td>
        <td><b>23/06/07</b></td>
    </tr>
    <tr>
        <td class="title"><b>첨부파일</b></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" width="400px">
            자세한 정보는 <a href="https://www.law.go.kr/LSW/lsInfoP.do?efYd=20220101&lsiSeq=237401#0000">국가법령정보센터</a>에서 확인 <br>가능합니다.
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </td>
    </tr>
</table>
<button class="reference_case_list" onclick="location.href='/information/legal-information'">목록으로</button>
</body>
</html>