<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>법률정보</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/information/information.css">
</head>
<body>
<div class="header">
  <div class="title_menu">
    <a href="/main" class="logo_main" style="color: #1290FF">
      S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
            class="small_title">afely</small>
    </a>
    <a href="/chat-loginform" class="top_menu_chat" style="color: #1290FF">채팅</a>
    <a href="/counseling-session" class="top_menu">상담사 연결</a>
    <a href="/information/school-violence" class="top_menu">정보</a>
    <a href="/online-complaint" class="top_menu">상담</a>
    <a href="/police-complaint" class="top_menu">신고</a>
    <a href="/loginform" class="top_menu"><b>로그인</b></a>
  </div>
</div>
<div class="category_button">
  <button class="category3" onclick="location.href='/information/school-violence'">학교폭력</button>
  <button class="category3" onclick="location.href='/information/reference-case'">참조사례</button>
  <button class="category3_active" onclick="location.href='/information/legal-information'">법률정보</button>
  <button class="category3_1" onclick="location.href='/information/report-penalty'">신고&처벌 기준</button>
</div>
<table class="list">
  <tr class="line">
    <td class="num">번호</td>
    <td class="title">제목</td>
    <td class="date_title">작성일</td>
    <td class="file">첨부파일</td>
  </tr>
  <tr class="line">
    <td class="num" id="num">1</td>
    <td class="title" id="title" onclick="location.href='/information/legal-information_detail'">청소년 보호법</td>
    <td class="date_title" id="date">23/06/27</td>
    <td class="file"><img src="/images/file.png" class="file_img"></td>
  </tr>
</table>
</body>
</html>