<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>참조사례</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/information/information.css">
    <link rel="stylesheet" href="/css/information/info_detail.css">
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main" class="logo_main">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/chat_loginform" class="top_menu_chat">채팅</a>
        <a href="/counseling-session" class="top_menu">상담사 연결</a>
        <a href="/information/school_violence" class="top_menu">정보</a>
        <a href="/online-complaint" class="top_menu">상담</a>
        <a href="/police-complaint" class="top_menu">신고</a>
        <a href="/loginform" class="top_menu"><b style="color: #1290FF">로그인</b></a>
    </div>
</div>
<div class="category_button">
    <button class="category2" onclick="location.href='/information/school_violence'">학교폭력</button>
    <button class="category2_active" onclick="location.href='/information/reference_case'">참조사례</button>
    <button class="category2" onclick="location.href='/information/legal_information'">법률정보</button>
    <button class="category2_1" onclick="location.href='/information/report_penalty'">신고&처벌 기준</button>
</div>
<table class="table_detail">
    <tr>
        <td class="title">제목</td>
        <td>학교폭력 관련 신고 방법</td>
    </tr>
    <tr>
        <td class="title">작성일</td>
        <td>23/06/07</td>
    </tr>
    <tr>
        <td class="title">첨부파일</td>
        <td>학교폭력 신고 방법.ppt</td>
    </tr>
    <tr>
        <td colspan="2" width="400px">
            경찰청에서는 증가하고 있는 학교폭력에 신속히 대응하기 위하여 전화신고 외에 다양한 온라인 신고 채널이 마련되어 있습니다.
            <br/>
            <br/>
            1. 홈페이지 신고(http://localhost:8080/main) 신고
            <br/>
            2. 모바일 웹 신고
            <br/>
            3. 온라인 상담 신고
            <br/>
            <br/>
            자세한 내용은 첨부파일을 참조 하시기 바랍니다.
            <br/>
            <br/>
            기타 문의 사항은 02-1234-4556으로 연락바랍니다.
        </td>
    </tr>
</table>
<button class="reference_case_list" onclick="location.href='/information/reference_case'">목록으로</button>
</body>
</html>