<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학교폭력</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/information/information.css">
</head>
<body>
    <div class="header">
        <div class="title_menu">
            <a href="/main" class="logo_main">
                S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                    class="small_title">afely</small>
            </a>
            <a href="/room" class="top_menu_chat">채팅</a>
            <a href="/counseling-session" class="top_menu">상담사 연결</a>
            <a href="/information/school_violence" class="top_menu">정보</a>
            <a href="/online-complaint" class="top_menu">상담</a>
            <a href="/loginform" class="top_menu"><b style="color: #1290FF">로그인</b></a>
        </div>
    </div>
    <div class="category_button">
        <button class="category1_active" onclick="location.href='/information/school_violence'">학교폭력</button>
        <button class="category1" onclick="location.href='/information/reference_case'">참조사례</button>
        <button class="category1" onclick="location.href='/information/legal_information'">법률정보</button>
        <button class="category1" onclick="location.href='/information/report_penalty'">신고&처벌 기준</button>
    </div>

    <div class="information">
        <p class="school">학교폭력</p>
        <table>
            <tr>
                <td>
                    <img src="/images/school.png" class="school_img"/>
                </td>
                <td>
                    <p class="information_title">폭력없는 평화로운 교실 만들기</p>
                    <p class="information_subtitle">솔직하고 당당한 대응으로 학교폭력에서 벗어나세요!</p>
                </td>
            </tr>
        </table>
        <li class="school_mean">학교폭력의 개념</li>
        <p>
            학교폭력(學校暴力)이란, 학교 내외에서 학생을 대상으로 발생한 살인, 상해, 폭행, 감금, 협박, 약취·유인, 명예훼손·모욕, 공갈, 강요·강제적인 심부름 및 성폭력, 집단따돌림(왕따), 사이버 따돌림, 정보통신망을 이용한 음란·폭력 정보 등에 의하여 신체·정신 또는 재산상의 피해를 수반하는 범죄행위
        </p>
        <li class="school_mean">학교폭력의 유형</li>
        <img src="/images/school_info.png" class="school_info">
    </div>
</body>
</html>