<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/complaint.css">
  <title>S.O.S</title>
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main" class="logo_main" style="color: #1290FF">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/chat-loginform" class="top_menu_chat">채팅</a>
        <a href="/counseling-session" class="top_menu">상담사 연결</a>
        <a href="/information/school-violence" class="top_menu">정보</a>
        <a href="/online-complaint" class="top_menu">상담</a>
        <a href="/police-complaint" class="top_menu">신고</a>
        <a href="/loginform" class="top_menu"><b>로그인</b></a>
    </div>
</div>
<div class="c_menu">
    <div>
        <a href="/online-complaint">비공개<br>온라인 상담</a>
    </div>
    <div>
        <a href="/counseling-appointment-form"><br>방문 상담</a>
    </div>
</div>
<div class="c_menu_line">
  <img src="/images/line.png" alt="line">
</div>
<div class="c_menu_triangle">
  <img src="/images/triangle.png" alt="triangle">
</div>
<div class="c_title">
  <div class="c_title_back">
    <a href="/online-complaint">
        <img src="/images/back_arrow.svg" alt="back arrow">
    </a>
    <a href="/online-complaint">상담 목록</a>
  </div>
  <div class="c_title_menu">
    상담
  </div>
</div>
<div class="c_form">
    <form action="/online-complaint-form/submit" method="POST">
        <table class="c_table">
            <thead>
            <tr>
                <th colspan="5"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="c_form_title">비밀번호<b>*</b></td>
                <td colspan="4">
                    <input type="password" name="ocPw" class="c_form_input"
                           placeholder="8~16자 이내 영문 대소문자, 숫자, 특수문자(!@#$%^&*) 조합으로 작성해주세요."
                           required minlength="8" maxlength="16"
                           pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]+$">
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">이름<b>*</b></td>
                <td colspan="4"><input type="text" name="ocName" class="c_form_input" required></td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">연락처</td>
                <td colspan="4"><input type="tel" name="ocContact" class="c_form_input" maxlength="11" pattern="[0-9]*" placeholder="(-) 없이 숫자만 입력하세요."></td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">도움 받고<br> 싶은 사람<b>*</b></td>
                <td colspan="4">
                    <input type="checkbox" name="ocAdvisor" id="advisor-counselor" class="advisor_option"
                           value="상담사">
                    <label for="advisor-counselor">상담사</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="ocAdvisor" id="advisor-lawyer" class="advisor_option" value="변호사">
                    <label for="advisor-lawyer">변호사</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="ocAdvisor" id="advisor-police" class="advisor_option" value="경찰">
                    <label for="advisor-police">경찰</label>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">제목<b>*</b></td>
                <td colspan="4">
                    <input type="text" name="ocTitle" class="c_form_input" style="font-size:14px" placeholder="예시) 학교폭력 사건 관련하여 법률 도움이 필요합니다."
                           required>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title" colspan="5" style="text-align: center">내용<b>*</b></td>
            </tr>
            <tr>
                <td colspan="5">
                    <label>
<textarea name="ocContent" class="textarea_content" rows="10" placeholder="상담 받으실 내용 입력해 주세요."
          required></textarea>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="submit_section">
            <button type="submit" class="submit_button" id="submitBtn" style="margin-bottom: 50px">확인</button>
        </div>
    </form>
</div>
</body>
</html>