<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
    <title>S.O.S</title>
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main" class="logo_main">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/room" class="top_menu_chat">채팅</a>
        <a href="/counseling-session" class="top_menu">상담사 연결</a>
        <a href="/information/school_violence" class="top_menu">정보</a>
        <a href="/online-complaint" class="top_menu">상담</a>
        <a href="/loginform" class="top_menu"><b style="color: #1290FF">로그인</b></a>
    </div>
</div>
<div class="c_menu">
    <div>
        <a href="/online-complaint">비공개</a><br>
        <a href="/online-complaint">온라인 상담</a>
    </div>
    <div>
        <a href="/counseling-appointment-form">방문 상담</a>
    </div>
</div>
<div class="c_menu_line">
    <img src="/images/line.png" alt="line">
</div>
<div class="c_menu_triangle">
    <img src="/images/triangle.png" alt="triangle">
</div>
<div class="c_title">
    <div class="c_title_back">
        <a href="/online-complaint">
            <img src="/images/back_arrow.svg" alt="back arrow">
        </a>
        <a href="/online-complaint">상담 목록</a>
    </div>
    <div class="c_title_menu">
        상담
    </div>
</div>
<form>
<div class="c_form">
        <table class="c_table">
            <thead>
            <tr>
                <th colspan="5"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="c_form_title">이름</td>
                <td colspan="4">
                    <p th:text="${complaint.ocName}"></p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">연락처</td>
                <td colspan="4">
                    <p th:if="${complaint.ocContact != null}" th:text="${complaint.ocContact}"></p>
                    <p th:unless="${complaint.ocContact != null}">-</p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">도움 받고<br> 싶은 사람</td>
                <td colspan="4">
                    <p th:text="${complaint.ocAdvisor}"></p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">제목</td>
                <td colspan="4">
                    <p th:text="${complaint.ocTitle}"></p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title" colspan="5" style="text-align: center">내용</td>
            </tr>
            <tr>
                <td>
                    <div class="c_response">
                        <p th:text="${complaint.ocContent}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
</div>
<div class="c_menu_line">
    <img src="/images/line.png" alt="line">
</div>
<div class="c_title">
    <div class="c_title_menu" style="color:#1290FF; text-align: center">
        답변
    </div>
</div>
<div class="c_response" style="text-align: center">
    <p th:if="${complaint.ocResponseContent} != null" th:text="${complaint.ocResponseContent}"></p>
    <p th:unless="${complaint.ocResponseContent} != null">[답변 대기] 상태입니다.<br><br> [답변 완료] 상태 확인 후 다시 확인해주세요.</p>
</div>
</form>
<script type="module" src="/js/online_complaint/online_complaint_detail.js"></script>
</body>
</html>