<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
    <title>S.O.S</title>
    <script src="/js/online_complaint/online_complaint_search.js"></script>
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main" class="logo_main">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/chat-loginform" class="top_menu_chat">채팅</a>
        <a href="/counseling-session" class="top_menu">상담사 연결</a>
        <a href="/information/school-violence" class="top_menu">정보</a>
        <a href="/online-complaint" class="top_menu">상담</a>
        <a href="/police-complaint" class="top_menu">신고</a>
        <a href="/loginform" class="top_menu"><b style="color: #1290FF">로그인</b></a>
    </div>
</div>
<div class="c_menu">
    <div>
        <a href="/online-complaint">비공개</a><br>
        <a href="/online-complaint">온라인 상담</a>
    </div>
    <div>
        <a href="/counseling-appointment-form">방문 상담</a>
    </div>
</div>
<div class="c_menu_line">
    <img src="/images/line.png" alt="line">
</div>
<div class="c_menu_triangle">
    <img src="/images/triangle.png" alt="triangle">
</div>
<div class="c_title">
    <div class="c_title_menu" style="text-align: center">
        상담 목록
    </div>
</div>
<form id="searchForm" action="/online-complaint/search" method="GET" data-load-action="/online-complaint/load-latest">
    <div class="search_section">
        <table>
            <thead>
            <tr>
                <th colspan="6"></th>
            </tr>
            </thead>
            <tr>
                <td class="search_title">제목</td>
                <td colspan="5">
                    <input type="text" id="searchInput" style="width:430px; height:35px">&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" id="searchButton" class="search_button">검색</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="searchResultsContainer">
        <div class="list_section">
            <table>
                <thead>
                <tr>
                    <th style="text-align: start">번호</th>
                    <th style="text-align: start">제목</th>
                    <th style="text-align: start">도움 받고<br> 싶은 사람</th>
                    <th style="text-align: start">작성자</th>
                    <th style="text-align: start">작성일</th>
                    <th style="text-align: start">답변여부</th>
                </tr>
                <tr>
                    <th colspan="6">
                        <img src="/images/line.png" alt="line">
                    </th>
                </tr>
                <tr style="height:10px">
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr class="table-row">
                    <td></td>
                    <td class="truncate"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="c_menu_line">
        <img src="/images/line.png" alt="line">
    </div>
    <div id="paginationContainer" class="paginationContainer">
        <div id="pagination">
            <!-- Pagination links will be dynamically populated here -->
        </div>
    </div>
</form>
<div class="form_submit_section" style="margin-top: 7%">
    <form action="/online-complaint-form" method="get">
        <button type="submit" class="c_register_button" style="margin-bottom: 50px">상담 신청</button>
    </form>
</div>
<script src="/js/online_complaint/online_complaint_list.js"></script>
</body>
</html>