<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
    <title>S.O.S</title>

</head>
<body>
<div class="header">
    <div class="title_menu">
        S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small class="small_title">afely</small>
        <a href="/room" class="top_menu_chat">채팅</a>
        <a href="#" class="top_menu">상담사 연결</a>
        <a href="#" class="top_menu">정보</a>
        <a href="#" class="top_menu">상담</a>
        <a href="#" class="top_menu"><b style="color: #1290FF">로그인</b></a>
    </div>
</div>
<div class="c_menu">
    <div>
        <a href="#">비공개</a><br>
        <a href="#">온라인 상담</a>
    </div>
    <div>
        <a href="#">방문 상담</a>
    </div>
</div>
<div class="c_menu_line">
    <img src="/images/line.png" alt="line">
</div>
<div class="c_menu_triangle">
    <img src="/images/triangle.png" alt="triangle">
</div>
<div class="c_title">
    <div class="c_title_menu" style="text-align: center">
        상담 목록
    </div>
</div>
<form>
    <div class="search_section">
        <table>
            <thead>
            <tr>
                <th colspan="5"></th>
            </tr>
            </thead>
            <tr>
                <td class="search_title">제목</td>
                <td colspan="4">
                    <input type="text" style="width:430px; height:35px">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" class="search_button" value="검색"/>
                </td>
            </tr>
        </table>
    </div>
</form>

<div class="list_section">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>답변여부</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<div class="c_menu_line">
    <img src="/images/line.png" alt="line">
</div>
<ul class="data_list">
    data list
</ul>
<div class="pagination">
    page numbers
</div>
<div class="submit_section" style="margin-top: 5%">
    <button type="submit" class="c_register_button">상담 신청</button>
</div>
</body>
</html>