<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="../../static/css/main.css">-->
<!--    <link rel="stylesheet" href="../../static/css/complaint.css">-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
    <title>S.O.S</title>
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main" class="logo_main">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/room" class="top_menu_chat">채팅</a>
        <a href="#" class="top_menu">상담사 연결</a>
        <a href="#" class="top_menu">정보</a>
        <a href="/online-complaint" class="top_menu">상담</a>
        <a href="/loginform" class="top_menu"><b style="color: #1290FF">로그인</b></a>
    </div>
</div>
<div class="c_menu">
    <div>
        <a href="/online-complaint">비공개</a><br>
        <a href="/online-complaint">온라인 상담</a>
    </div>
    <div>
        <a href="/counseling-appointment-form">방문 상담</a>
    </div>
</div>
<div class="c_menu_line">
    <!--    <img src="../../static/images/line.png" alt="line">-->
    <img src="/images/line.png" alt="line">
</div>
<div class="c_menu_triangle">
    <!--    <img src="../../static/images/triangle.png" alt="triangle">-->
    <img src="/images/triangle.png" alt="triangle">
</div>
<div class="c_title">
    <div class="c_title_back">
        <a href="#">
<!--            <img src="../../static/images/back_arrow.svg" alt="back arrow">-->
            <img src="/images/back_arrow.svg" alt="back arrow">
        </a>
        <a href="#">상담 목록</a>
    </div>
    <div class="c_title_menu">
        상담
    </div>
</div>
<div class="form_submit">
    <!--    <img src="../../static/images/check.svg" alt="check">-->
    <img src="/images/check.svg" alt="check">
    <h1>온라인 상담 신청 접수가 완료되었습니다.</h1>
    <p><b style="color: black">답변 완료</b> 확인 후 입력하셨던 비밀번호로 답변을 확인하시면 됩니다.</p>
</div>
<div class="form_submit_section">
    <form action="/main" method="get">
        <button type="submit" class="form_submit_button">메인 페이지로 가기</button>
    </form>
</div>
</body>
</html>