.c_menu {
    margin-top: 5%;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
}

.c_menu a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.c_menu_line img {
    margin-bottom: -4px;
}

.c_menu_triangle img {
    margin-top: 0;
    height: 15px;
    width: auto;
    margin-left: 23%;
}

.c_menu_triangle_counseling img {
    margin-top: 0;
    height: 15px;
    width: auto;
    margin-left: 73%;
}

.c_title {
    margin-top: 5%;
    display: flex;
}

.c_title_back {
    justify-content: flex-start;
}

.c_title_back img {
    width: 30px;
    height: auto;
    position: sticky;
}

.c_title_back a {
    font-size: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}

.c_title_menu {
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.c_form {
    margin-top: 30px;
}

.c_table {
    table-layout: fixed;
    width: 700px;
}

.c_table_tr {
    margin-top: 20px;
}

.c_form_input {
    width: 550px;
    height: 20px;
    font-size: 10px;
    padding: 5px;
}

.c_form_input_advisor {
    width: 350px;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    margin-right: 20px;
    vertical-align: middle;
}

.advisor_option {
    width: 30px;
    height: 30px;
    font-size: 15px;
    vertical-align: middle;
}

.appointment_option {
    width: 250px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    color: gray;
    vertical-align: middle;
}

.c_form_title {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

b {
    color: red;
}

.textarea_content {
    font-size: 15px;
    padding: 5px;
}

.submit_button {
    width: 100px;
    height: 51px;
    background: #1290FF;
    border-radius: 10px;
    margin-top: 39px;
    border: none;
    color: white;
    font-size: 20px;
}

.submit_section {
    display: flex;
    width: 700px;
    justify-items: flex-end;
}

.c_response {
    margin-top: 5%;
}

.search_section {
    margin-top: 5%;
    display: flex;
    width: 700px;
    justify-items: flex-end;
    align-items: baseline;
}

.search_title {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

.search_button {
    width: 100px;
    height: 40px;
    background: black;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
}

.c_register_button {
    width: 100px;
    height: 40px;
    background: #1290FF;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
}

.list_section {
    margin-top: 5%;
}

.data_list {
    margin-top: 5%;
}

.pagination {
    margin-top: 5%;
}

.uploaded_files {
    list-style-type: none;
}

.uploaded_files li::before {
    content: "\1F5CB";
    padding: 0 10px 0 0;
}

.uploaded_files a {
    text-decoration: none;
    color: #1290FF;
}

.info {
    margin-top: 40%;
    font-size: 15px;
    text-align: center;
}

.counseling_info {
    border: 1px solid black;
    padding: 40px;
    margin-top: 7%;
    word-break: keep-all;
    line-height: 1.5;
    width: 500px;
    height: auto;
}

.counseling_info p {
    font-size: 15px;
}

.counseling_info b {
    color: black;
}

.counseling_image {
    margin-top: 5%;
    text-align: center;
}

.counseling_image img {
    height: 80px;
    width: auto;
}

.calendar {
    margin-top: 5%;
    width: 300px;
    text-align: center;
    font-size: 17px;
    color: gray;
    height: 27px;
}

.form_submit {
    margin-top: 15%;
    display: block;
    text-align: center;
}

.form_submit img {
    height: 200px;
    width: auto;
}

.form_submit h1 {
    margin-top: 6%;
}

.form_submit p {
    margin-top: 3%;
    font-size: 18px;
}

.form_submit_button {
    width: 300px;
    height: 51px;
    background: #1290FF;
    border-radius: 10px;
    margin-top: 10%;
    border: none;
    color: white;
    font-size: 20px;
}

.form_submit_section {
    text-align: center;
    display: flex;
    width: 700px;
}