@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    width: 700px;
    margin: 0 auto;
    font-family: 'Nanum Gothic Coding', monospace;
}

/* header */
.header {
    justify-items: center;
}

.title_menu {
    font-size: 36px;
    color: #1290FF;
    font-weight: bold;
    margin-top: 10px;
}

.small_title {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Nanum Pen Script', cursive;
}

.top_menu_chat {
    font-size: 13px;
    text-decoration: none;
    color: #1290FF;
    margin-left: 66px;
}

.top_menu {
    font-size: 13px;
    text-decoration: none;
    color: #1290FF;
    margin-left: 25px;
}

/* main */
.main {
    text-align: center;
}

.main_title {
    margin-top: 10%;
    font-size: 70px;
    color: #1290FF;
    font-weight: bold;
}

.main_title_small {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Nanum Pen Script', cursive;
}

.main_menu_small {
    margin-top: 5%;
}

.main_menu_small a {
    font-size: 13px;
    text-decoration: none;
    color: #1290FF;
    margin-left: 20px;
    margin-right: 20px;
}

.main_menu_large {
    margin-top: 5%;
    justify-content: space-between;
    word-spacing: 50px;
}

.main_menu_large a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main_image {
    margin-top: 5%;
}

.siren_image {
    margin-top: 5%;
}

.siren_image img {
    width: 30px;
    height: auto;
    position: sticky;
    margin-left: 80%;
}