.oc_menu {
    margin-top: 5%;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
}

.oc_menu a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.oc_menu_line img {
    margin-bottom: -4px;
}

.oc_menu_triangle img {
    margin-top: 0;
    height: 15px;
    width: auto;
    margin-left: 23%;
}

.oc_title {
    margin-top: 5%;
    display: flex;
}

.oc_title_back {
    justify-content: flex-start;
}

.oc_title_back img {
    width: 30px;
    height: auto;
    position: sticky;
}

.oc_title_back a {
    font-size: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}

.oc_title_menu {
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.oc_form {
    margin-top: 30px;
}

.oc_table {
    table-layout: fixed;
    width: 700px;
}

.oc_table_tr {
    margin-top: 20px;
}

.oc_form_input {
    width: 550px;
    height: 20px;
    font-size: 15px;
    padding: 5px;
}

.oc_form_input_advisor {
    width: 350px;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    margin-right: 20px;
    vertical-align: middle;
}

.advisor_option {
    width: 150px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    color: gray;
    vertical-align: middle;
}

.oc_form_title {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

b {
    color: red;
}

.textarea_content {
    font-size: 15px;
    padding: 5px;
    color: gray;
}

.submit_button {
    width: 100px;
    height: 51px;
    background: #1290FF;
    border-radius: 10px;
    margin-top: 39px;
    border: none;
    color: white;
    font-size: 20px;
}

.submit_section {
    display: flex;
    width: 700px;
    justify-items: flex-end;
}