<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
    <title>S.O.S</title>
    <script src="../static/js/counseling_appointment_form.js"></script>
</head>
<body>
<div class="header">
    <div class="title_menu">
        S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small class="small_title">afely</small>
        <a href="#" class="top_menu_chat">채팅</a>
        <a href="#" class="top_menu">상담사 연결</a>
        <a href="#" class="top_menu">정보</a>
        <a href="#" class="top_menu">상담</a>
        <a href="#" class="top_menu"><b>회원가입</b></a>
    </div>
</div>
<div class="c_menu">
    <div>
        <a href="#">비공개</a><br>
        <a href="#">온라인 상담</a>
    </div>
    <div>
        <a href="#">방문 상담</a>
    </div>
</div>
<div class="c_menu_line">
    <img src="/images/line.png" alt="line">
</div>
<div class="c_menu_triangle_counseling">
    <img src="/images/triangle.png" alt="triangle">
</div>
<div class="c_title">
    <div class="c_title_menu" style="text-align: center">
        예약
    </div>
</div>
<div class="c_form">
    <form action="post">
        <table class="c_table">
            <thead>
            <tr>
                <th colspan="5"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="c_form_title">이름<b>*</b></td>
                <td colspan="4"><input type="text" class="c_form_input" required></td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">연락처<b>*</b></td>
                <td colspan="4"><input type="tel" class="c_form_input" required></td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">지역<b>*</b></td>
                <td colspan="4">
                    <select id="region-dropdown" class="appointment_option">
                        <option value="">--지역을 선택해주세요.--</option>
                        <option value="seoul">서울</option>
                        <option value="incheon">인천</option>
                        <option value="ulsan">울산</option>
                        <option value="gangwon">강원</option>
                        <option value="chungbuk">충북</option>
                        <option value="jeonbuk">전북</option>
                        <option value="gyeongbuk">경북</option>
                        <option value="daegu">대구</option>
                        <option value="gwangju">광주</option>
                        <option value="daejeon">대전</option>
                        <option value="gyeonggi">경기</option>
                        <option value="gyeongnam">경남</option>
                        <option value="jeju">제주</option>
                        <option value="jeonnam">전남</option>
                        <option value="chungnam">충남</option>
                        <option value="busan">부산</option>
                    </select>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">장소<b>*</b></td>
                <td colspan="4">
                    <select id="location-dropdown" class="appointment_option">
                        <option value="">--장소를 선택해주세요.--</option>
                        <!--                        seoul-->
                        <option value="seoul1">
                            서울 여성·학교폭력피해자 원스톱지원센터
                            (경찰병원 - 서울 송파구 가락본동 58)
                        </option>
                        <option value="seoul2">
                            서울 여성·학교폭력피해자 원스톱지원센터
                            (서울대병원 - 서울시 종로구 대학로 101 서울대학교병원)
                        </option>
                        <option value="seoul3">
                            서울(보라매) 여성·학교폭력피해자 원스톱지원센터
                            (보라매병원 - 서울 동작구 신대방동 보라매길 39)
                        </option>
                        <option value="seoul4">
                            서울 해바라기 아동센터
                            (서울 마포구 신수동 63 14 구프라자 7층)
                        </option>
                        <option value="seoul5">
                            서울 해바리기 여성·아동센터
                            (서울시 종로구 대학로 101 서울대학교병원)
                        </option>
                        <!--                        incheon-->
                        <option value="incheon1">
                            인천 해바리기 여성·아동센터
                            (인천의료원 - 인천 동구 송림4동 318 1)
                        </option>
                        <option value="incheon2">
                            인천 해바리기 여성·아동센터
                            (인천광역시 남동구 구월동 11 44 15번지 2층)
                        </option>
                        <!--                        ulsan-->
                        <option value="ulsan1">
                            울산 여성·학교폭력피해자 원스톱지원센터
                            (동강병원 - 울산 중구 태화동 1233)
                        </option>
                        <!--                        gangwon-->
                        <option value="gangwon1">
                            강원 여성·학교폭력피해자 원스톱지원센터
                            (강원대병원 - 강원 춘천시 효자3동 17 1)
                        </option>
                        <option value="gangwon2">
                            강원 해바리기 여성·아동센터
                            (강원도 춘천시 효자3동 18 60 동광빌딩 2층)
                        </option>
                        <option value="gangwon3">
                            강원 해바리기 여성·아동센터
                            (강원 강릉시 포남2동 1065 2번지 강릉동인병원)
                        </option>
                        <!--                        chungbuk-->
                        <option value="chungbuk1">
                            충북 여성·학교폭력피해자 원스톱지원센터
                            (청주의료원 - 청주시 흥덕구 사직1동 554 6)
                        </option>
                        <option value="chungbuk2">
                            충청 해바리기 아동센터
                            (충북 충주시 교현2동 616 2 보성빌딩 4층)
                        </option>
                        <!--                        jeonbuk-->
                        <option value="jeonbuk1">
                            전북 여성·학교폭력피해자 원스톱지원센터
                            (전북대병원 - 전주시 덕진구 금암동 634 18)
                        </option>
                        <option value="jeonbuk2">
                            전북 해바리기 아동센터
                            (전북 전주시 덕진구 인후동 2가 1573 1 사학연금관리공단 2층)
                        </option>
                        <!--                        gyeongbuk-->
                        <option value="gyeongbuk1">
                            경북 여성·학교폭력피해자 원스톱지원센터
                            (안동의료원 - 경북 안동시 북문동 470)
                        </option>
                        <!--                        daegu-->
                        <option value="daegu1">
                            대구 여성·학교폭력피해자 원스톱지원센터
                            (대구의료원 - 대구시 서구 중리동 1162)
                        </option>
                        <option value="daegu2">
                            대구 해바리기 아동센터
                            (대구 중구 삼덕동 2가 270 1 소석문화센터 10층)
                        </option>
                        <!--                        gwangju-->
                        <option value="gwangju1">
                            광주 여성·학교폭력피해자 원스톱지원센터
                            (조선대병원 - 광주시 동구 서석동 588)
                        </option>
                        <option value="gwangju2">
                            광주 해바리기 아동센터
                            (광주 동구 남동 112 1 웰크리닉 4층)
                        </option>
                        <!--                        daejeon-->
                        <option value="daejeon1">
                            대전 여성·학교폭력피해자 원스톱지원센터
                            (충남대병원 - 대전시 중구 대사동 640)
                        </option>
                        <!--                        gyeonggi-->
                        <option value="gyeonggi1">
                            경기 여성·학교폭력피해자 원스톱지원센터
                            (아주대병원 - 수원시 영통구 원천동산5)
                        </option>
                        <option value="gyeonggi2">
                            경기북부 여성·학교폭력피해자 원스톱지원센터
                            (의정부시 의정부2동 433)
                        </option>
                        <option value="gyeonggi3">
                            경기 해바리기 아동센터
                            (경기 성남시 분당구 야탑동 532 3 한화빌딩 5층)
                        </option>
                        <!--                        gyeongnam-->
                        <option value="gyeongnam1">
                            경남 여성·학교폭력피해자 원스톱지원센터
                            (마산의료원 - 마산시 중앙동3가 3번지)
                        </option>
                        <option value="gyeongnam2">
                            경남 해바리기 아동센터
                            (경남 진주시 칠암동 90 경상대학교병원)
                        </option>
                        <!--                        jeju-->
                        <option value="jeju1">
                            제주 여성·학교폭력피해자 원스톱지원센터
                            (한라병원 - 제주시 연동 1963 2)
                        </option>
                        <!--                        jeonnam-->
                        <option value="jeonnam1">
                            전남 여성·학교폭력피해자 원스톱지원센터
                            (성가롤로 병원 - 전남 순천시 조례동 1742)
                        </option>
                        <option value="jeonnam2">
                            전남 해바리기 여성·아동센터
                            (전남 목포시 석현동 815 8 목포중앙병원)
                        </option>
                        <!--                        chungnam-->
                        <option value="chungnam1">
                            충남 여성·학교폭력피해자 원스톱지원센터
                            (단국대병원 - 천안시 동남구 망향로 359)
                        </option>
                        <!--                        busan-->
                        <option value="busan1">
                            부산 해바리기 아동센터
                            (부산 서구 동대신동 3가 1번지 동아대학교병원)
                        </option>
                        <option value="busan2">
                            부산 해바리기 여성·아동센터
                            (부산시 서구 동대신동 3가 1번지 동아대학교병원)
                        </option>
                    </select>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">날짜<b>*</b></td>
                <td><input type="datetime-local" class="calendar"></td>
            </tr>
            <tr style="height:2px">
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><p style="font-size: 13px; color: gray"><i>*예약 확인 문자는 입력하신 연락처로 발송됩니다.</i></p></td>
            </tr>
            </tbody>
        </table>
        <div class="submit_section">
            <button type="submit" class="submit_button">확인</button>
        </div>
    </form>
</div>
</body>
</html>