<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
    <title>S.O.S</title>
</head>
<body>
<div class="header">
    <div class="title_menu">
        <a href="/main/admin/n" class="logo_main" style="color: #1290FF">
            S<small class="small_title">peak</small>.O<small class="small_title">ut</small>.S<small
                class="small_title">afely</small>
        </a>
        <a href="/online-complaint/admin/n" class="top_menu">상담</a>
        <a href="/admin/logout" class="top_menu"><b>로그아웃</b></a>
    </div>
</div>
<div class="c_title">
    <div class="c_title_back">
        <a href="/online-complaint/admin/n">
            <img src="/images/back_arrow.svg" alt="back arrow">
        </a>
        <a href="/online-complaint/admin/n">상담 목록</a>
    </div>
    <div class="c_title_menu">
        상담
    </div>
</div>
<form>
    <div class="c_form">
        <table class="c_table">
            <thead>
            <tr>
                <th colspan="5"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="c_form_title">이름</td>
                <td colspan="4">
                    <p th:text="${complaint.ocName}"></p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">연락처</td>
                <td colspan="4">
                    <p th:if="${complaint.ocContact != null}" th:text="${complaint.ocContact}"></p>
                    <p th:unless="${complaint.ocContact != null}">-</p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">도움 받고<br> 싶은 사람</td>
                <td colspan="4">
                    <p th:text="${complaint.ocAdvisor}"></p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title">제목</td>
                <td colspan="4">
                    <p th:text="${complaint.ocTitle}"></p>
                </td>
            </tr>
            <tr style="height:15px">
                <td></td>
            </tr>
            <tr>
                <td class="c_form_title" colspan="5" style="text-align: center">내용</td>
            </tr>
            <tr>
                <td>
                    <div class="c_response">
                        <p th:text="${complaint.ocContent}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<div class="c_menu_line">
    <img src="/images/line.png" alt="line">
</div>
<div class="c_title">
    <div class="c_title_menu" style="color:#1290FF; text-align: center">
        답변
    </div>
</div>
<form action="/online-complaint-comment-form/admin/n/submit" method="POST">
    <table class="c_table">
        <thead>
        <tr>
            <th colspan="5"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="c_form_title">비밀번호<b>*</b></td>
            <td colspan="4">
                <input type="password" name="a_pw" class="c_form_input"
                       placeholder="비밀번호를 입력해주세요."
                       required minlength="8" maxlength="16"
                       pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]+$">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="c_response">
        <textarea name="ocResponseContent" class="textarea_content" rows="10"
                  placeholder="답변 내용 입력해주세요. \n 이메일과 비밀번호 확인 시 답변이 등록됩니다."></textarea>
    </div>
    <div class="submit_section">
        <button type="submit" class="submit_button" id="submitBtn">확인</button>
    </div>
</form>
<script type="module" src="/js/admin/nonpolice/admin_online_complaint_comment_form_nonpolice.js"></script>
</body>
</html>