/* 학교폭력 */
.category1_active {
    margin-top: 63px;
    width: 113px;
    height: 43px;
    background: #1290FF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.category1 {
    width: 113px;
    height: 43px;
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    margin-left: -7px;
    font-weight: 700;
    font-size: 14px;
}

.school {
    margin-top: 77px;
    color: #1290FF;
    font-size: 16px;
}

.school_img {
    width: 200px;
    height: 200px;
    margin-top: 24px;
}

.information_title {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #1290FF;
    font-weight: 700;
}

.information_subtitle {
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #FFA012;
}

.school_mean {
    margin-top: 74px;
    font-size: 16px;
    color: #1290FF;
    font-weight: 700;
}

p {
    margin-top: 10px;
    font-size: 13px;
}

.school_info {
    margin-top: 10px;
}

/* 참조 사례 */
.category2_active {
    margin-top: 63px;
    width: 113px;
    height: 43px;
    background: #1290FF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.category2 {
    width: 113px;
    height: 43px;
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    margin-left: -7px;
    font-weight: 700;
    margin-right: -7px;
    font-size: 14px;
}

.category2_1 {
    width: 113px;
    height: 43px;
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    margin-right: -7px;
    font-size: 14px;
}

.search_table {
    border: 1px solid #C0C0C0;
}

.date {
    width: 790px;
}

.write_date_title {
    width: 211px;
}

.search_table {
    margin-top: 52px;
}

.write_date1 {
    width: 115px;
    height: 34px;
}

.write_date2 {
    margin-right: 20px;
    width: 115px;
    height: 34px;
}

.search {
    width: 81px;
    height: 50px;
}

.search_select {
    width: 70px;
    height: 38px;
}

.search_text {
    width: 144px;
    height: 34px;
}

.search_sub {
    width: 60px;
    height: 40px;
    background: #1290FF;
    border: none;
    color: white;
}

.list {
    margin-top: 46.5px;
    border-collapse: collapse
}

.line {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    height: 34.5px;
    font-weight: 700;
}

.file_img {
    width: 30px;
    height: 30px;
    text-align: center;
}

.num {
    width: 100px;
    text-align: center;
}

.title {
    width: 900px;
}

.date_title {
    width: 269px;
    text-align: center;
}

.file {
    width: 150px;
    text-align: center;
}

/* 법률 정보 */
.category3_active {
    margin-top: 63px;
    width: 113px;
    height: 43px;
    background: #1290FF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.category3 {
    width: 113px;
    height: 43px;
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    margin-right: -7px;
    font-size: 14px;
}

.category3_1 {
    width: 113px;
    height: 43px;
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    margin-left: -7px;
    font-size: 14px;
}

/* 학교폭력 */
.category4_active {
    margin-top: 63px;
    width: 113px;
    height: 43px;
    background: #1290FF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-left: -7px;
}

.category4 {
    width: 113px;
    height: 43px;
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #1290FF;
    border-radius: 10px 10px 0px 0px;
    margin-left: -7px;
    font-weight: 700;
    font-size: 14px;
}